* {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

/* Absolutely broken fix this later */
body {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.authors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.authors p {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin: 10px;
}


  /* this is the most optimized way i could think of making this */
.image {
    position: relative;
    max-width: 20%;
    height: 20%;
    margin-top: 50px;
    border-width: 5px;
    padding: 5px;
    margin-left: 105px;
    margin-right: 105px;
    background-color: rgb(156, 156, 156);
    padding: 8px;
    border-radius: 15px;
}

.image:nth-of-type(1) {
    filter: grayscale(100%);
}

.image:nth-of-type(2) {
    filter: sepia(100%);
}

.image:nth-of-type(3) {
    filter: hue-rotate(189deg);
}

